 
.legend-header {
    display: flex; /* Use Flexbox */
    align-items: center; /* Vertically align items */
    justify-content: space-between; /* Put space between items */
    margin-right: 4%;
  }
  
  .legend-header button{
    border: none;
    background-color: "#4FCA57";
    margin-top: 0px;
}

.legend-title{
    margin-top: 5%;
}


.legend-container{
   width: 18%;
}


/* Responsive styles for tablet devices */
@media (max-width: 1300px) {
  .legend-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row; /* Set flex-direction to row */
    margin: 3%;
}
  
    .legend-title {
      margin: 0;
    }
  
    .legend-container {
      margin-right: 0;
      margin-left: 0%;
      font-size: medium;
      width: 40vw;
      margin-bottom: -1px; /* Add space between logo and title */
    }
}

/* Responsive styles for mobile devices */
@media (max-width: 576px) {
  .legend-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 4%;
    flex-direction: row; /* Set flex-direction to row */
    margin: 2%;
}

    .legend-title{
        text-align: left;
        margin: 0%;
        padding : 0%;
      }
  
    .legend-title {
      margin: 0;
    }
  
    .legend-container {
      margin-right: 0;
      font-size: small;
      width: 80vw;
      margin-bottom: 10px; /* Add space between logo and title */
    }
}